
#asd
{
  width:80%;

}
body
{
  background-image: linear-gradient(to bottom right, #FCBDB8,#CB8FA9,#644B9E);
  position:relative;
}

.container
{
  display: flex;
    margin-top:10%;
    height:380px;
    width:25%;
    border: 1px solid grey;
    border-radius: 25px;
    background-color: white;
    padding: 20px;
     box-shadow: 5px 5px 15px  #644B9E;
    text-align: center; 
}
#t2
{
    width:100%;
    height: 8%;
    border: 1px solid grey;
    background-color:#FCBDB8;
}
.Form
{
  position: relative;
}
.btn-light
{
  position: absolute;
  bottom: 0px;
  right:0px;
    width:100%;
    height:15%;
    border: 1px solid grey;
    background-color: #CB8FA9;
    border-radius: 8px;
      

   
}
.btn-light:hover
{
  background-color: #644B9E;
}
  h1,p,h2, h3,li
  {
    color:white;


  }
  a, blockquote
  {
    color:green;
  }
  ul {
  list-style: none;

}
  li::before {
  content: "• ";
  color: red; /* or whatever color you prefer */
}
.grid-container {
    display: grid;
    color:white;
    margin:auto;
    grid-column-gap: 50px ;
    font-family: "Coctail Shaker", Coctail Shacker,cursive;
   
  }
  .grid-container2 {
    display: grid;
    color:white;
    margin:auto;
    font-family: "Coctail Shaker", Coctail Shacker,cursive;
   
  }
  .legion
  {
 background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
     background-image: url("legion.jpg");
  }
  .grid-item {
     color:white;

    background-color: black;
    background: rgba(0,0,0, 0.75);
    border: 1px solid #304C23;
    border-radius: 25px;
    box-shadow: 5px 5px 15px  #304C23;
    padding: 40px;
    text-align: left;
  }
    .grid-item1
  {
    height:1020px;
    color:white;   
     position: fixed;
    background: rgba(0,0,0, 0.8);
    border: 1px solid #304C23;
    border-radius: 25px;
    box-shadow: 5px 5px 15px  #304C23;
    padding:20px;
    text-align: left;
  }
  .row
  {
    padding:30px;
  }
  .responsive
  {
    border: 1px solid rgba(0, 0, 0, 0.75);
    border-radius: 25px;
    border: 1px solid #304C23;
    width: 100%;
    height: auto;
    margin:auto;
}
  .audio
  {
    border: 1px solid rgba(0, 0, 0, 0.75); 
    border-radius: 25px;
    border: 1px solid #304C23;
     width: 100%;
    margin:auto;
  
  }
  .box
  {
    background-color:black;
    
  }
  label
  {
      float:left;
  }
  #pozesiaudio
  {

    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
  }
  table {
    text-align:center;
    border-spacing: 0.5rem;
    border: 2px solid rgba(0, 0, 0, 0.8);
     width:300px;
     height:200px;
    margin:auto;
    background-color: aquamarine;
  }
  body
  {
      background-color: beige;
  }
  td, th {
    border: 2px solid black;
    padding: 0.5rem;
    text-align: left;
  }
th:nth-child(1) { background: hsl(150, 50%, 50%); }
th:nth-child(2) { background: hsl(160, 60%, 50%); }
th:nth-child(3) { background: hsl(170, 70%, 50%); }
td:nth-child(1) { background: hsl(180, 80%, 50%); }
td:nth-child(2) { background: hsl(190, 90%, 50%); }
td:nth-child(3) { background: hsl(200, 99%, 50%); }
