#containerM
{
    margin-top:100px;
    margin-left:40%;
    height:500px;
    width:500px;
    border: 1px solid black;
    background-color: aquamarine;
    padding: 20px;
    text-align: center;
    
}
#container
{
    background-color: beige;
}

#t1
{
    margin-left:5px;
    margin-top:100px;
    height:30px;    
    background-color: hsl(180, 80%, 50%);
}
#t2
{
    margin-top:3px;
    margin-left:5px;
    height:30px; 
    border: 2px solid black;
    background-color:hsl(180, 80%, 50%);
}


#t5
{

   margin-top:250px;
    width:100%;
    height:50px;
    border: 2px solid black;
    background-color:rgb(10, 142, 151);
}

.grid-container {
    display: grid;
    grid-column-gap: 50px ;
    background-color: aquamarine;
        font-family: "Arial", Times, serif;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: left;
  }
  .grid-item1 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  #pozesiaudio
  {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
  }
  table {
    text-align:center;
    border-spacing: 0.5rem;
    border: 2px solid rgba(0, 0, 0, 0.8);
     width:300px;
     height:200px;
    margin:auto;
    background-color: aquamarine;
  }
  body
  {
      background-color: beige;
  }
  td, th {
    border: 2px solid black;
    padding: 0.5rem;
    text-align: left;
  }
th:nth-child(1) { background: hsl(150, 50%, 50%); }
th:nth-child(2) { background: hsl(160, 60%, 50%); }
th:nth-child(3) { background: hsl(170, 70%, 50%); }
td:nth-child(1) { background: hsl(180, 80%, 50%); }
td:nth-child(2) { background: hsl(190, 90%, 50%); }
td:nth-child(3) { background: hsl(200, 99%, 50%); }
